body {
  background: #363f4c;
}

.mainContainer,
.navPusher,
.navPusher > .docMainWrapper > .mainContainer {
  background: #fff;
}

#footer {
  background: #363f4c;
}

@media screen and (min-width: 1024px) {
  .navPusher> :first-child {
    flex-grow: 0;
  }

  #footer {
    flex-grow: 1;
    flex-shrink: 0;
  }
}
